build/
thirdparty/
doxygen/
__pycache__/
cache/
*.trace
*.swp
*.o
*.os
*.out
*.so
*.a
*~
*.b
*.orig
*.anjuta*
*.blend1
gmon.out
moc*cxx
atom.creator.user*
atom.config
atom.creator
atom.files
atom.includes
*.patch
.waf-*
waf3*
.lock*
gl.xml
